.prepTransition{
    transition: box-shadow 0.2s ease-out;
    border: 1px solid gray;
	border-top: 10px solid green;
	min-height: 250px;
	margin-top: 10px;
}

.hightlightExperience{
    box-shadow: 1px 1px 15px green;
}

.project h1{
  font-weight: lighter;
  margin-left: 10px;
}

.project p{
  margin: 10px;
  font-family: segoe ui;
  line-height: 1.4em;
  font-size: 1.2em;
}
