.prepTransition{
    transition: box-shadow 0.3s ease-out;
    border: 1px solid gray;
	border-top: 10px solid green;
	min-height: 250px;
	margin-top: 10px;
}

.hightlightExperience{
    box-shadow: 9px 8px 10px;
}

.project h1{
  font-weight: lighter;
  font-size: 25px;
  margin-left: 10px;
}

.project h1 a{
    color:black;
}

.project p{
  margin: 10px;
  font-family: segoe ui;
  line-height: 1.1em;
  font-size: 1em;
}
