<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>My Resume</title>

    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

	<link rel="stylesheet" href="css/animate.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
	<link href="css/theme.css" rel="stylesheet">
    <!-- <link href="css/style.css" rel="stylesheet"> -->
    <link href="css/customMorris.css" rel="stylesheet">


	<link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Playball' rel='stylesheet' type='text/css'>
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
	<div class="wrapper" id="wrapper">
		<header>
			<div class="banner row" id="banner">
				<div class="parallax text-center" style="background-image: url(img/header.jpg);">
					<div class="parallax-pattern-overlay">
						<div class="container text-center" style="height:800px;padding-top:170px;">
							<img id="site-title" class=" wow fadeInDown" wow-data-delay="0.0s" wow-data-duration="0.9s" src="img/profilepic.jpg" alt=""/>
							<h2 class="intro">Hi, I'm Horacio Delgado</h2>
						</div>
					</div>
				</div>
			</div>
			<div class="menu stuckMenu" style="postion:relative;">
				<div class="navbar-wrapper">
					<div class="container">
						<div class="navwrapper">
							<div class="navbar navbar-inverse navbar-static-top">
								<div class="container">
									<div class="navArea">
										<div class="navbar-collapse collapse">
											<ul class="nav navbar-nav">
												<li class="menuItem active"><a href="#wrapper">Home</a></li>
                                                <li class="menuItem"><a href="#activity">Activity</a></li>
                                                <li class="menuItem"><a href="#specialties">Skills</a></li>
												<li class="menuItem"><a href="#aboutus">About Me</a></li>
												<li class="menuItem"><a href="#feedback">Education</a></li>
												<li class="menuItem"><a href="#contact">Contact</a></li>
											</ul>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</header>

<div class="container heading "  >

        <div class=" papers text-center">

            <h4 class="">Goal</h4>
            <p>
                Continue to learn the latest technologies and best practices in Software Development to become a valuable professional
            </p>
        </div>

</div>
    <!--activity-->
	<section class="gallery" id="activity">
		<div class="container">
            <div class="row">
    			<div class="heading col-lg-6">
    				<h2 class="text-center">Experience</h2>
                    <div class="col-lg-6">
                        <div class="project" skills="java hadoop google">
                            <div class="card">
                                <h1>Big Data</h2>
                                <p>
                                    At American Express uplifted some existing mainframe processes to the big data platform. Projected savings are 3 millions per year.
                                </p>
                                <p> Tools: Java, Hadoop, Hive
                            </div>
                        </div>
                        <div class="project" skills="go js google">
                            <div class="card">
                                <h1>Inmigration Tool</a></h2>
                                <p>
                                    A Go based web-service designed as a tool to archive demographic data from clients and their transaction history.
                                </p>
                                <p>Tools: Golang, Javascript, postgreSQL</p>
                                <p><a href="https://github.com/Horacio23/GoWebApplication">Source</a></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="project" skills="java js webServices google">
                            <div class="card">
                                <h1>Compare Tool UI</h2>
                                <p>
                                    At American Express created a web-service to run a hadoop job comparison,reducing a manual task that took days to complete down to 15 minutes.
                                    The web-service made the job available to the whole company.
                                </p>
                                <p>Tools: Spring MVC, Java, Javascript
                            </div>
                        </div>
                        <div class="project" skills="js google">
                            <div class="card">
                                <h1>Todo List</h2>
                                <p>
                                    A React-Native todo list mobile application I wrote to get to know the framework. It runs on both IOS and Android reusing most of its code.
                                </p>
                                <p>Tools: React-Native, Redux</p>
                                <p><a href="https://github.com/Horacio23/react-native-todo">Source</a></p>

                            </div>
                        </div>
                    </div>
    				<!-- <h3 skills="google">Building web services end to end has not been the only thing I have explored. I have learned other languages like Go, and become more proficient in other like Javascript (and frameworks associated with it). You can
                        visit my <a href="http://www.github.com/Horacio23"><strong>Github</strong></a> page to see all of my activity.</h3> -->
    			</div>
                    <!--skills-->
                <div class="col-lg-6">
                    <section class="specialties" id="specialties">
                    <div class="row">
            			<div class="heading text-center">
            				<h2>My Skills</h2>
            				<h3>
                                Hover over the skills bellow to highlight the related projects where they are used. For a full list of the skills visit my <a href="https://www.linkedin.com/in/horacio-a-delgado-7ab233101">linked in</a> profile
                            </h3>
            			</div>
            		</div>

            		<div class="row">
                            <!--Morris graph goes here -->
                            <div id="graph" class="col-md-8 col-md-offset-2"></div>

            		</div>
                </section>
                </div>
            </div>
    			<div class="col-md-8 col-md-offset-2 text-center">
                    <h3><a href="https://www.github.com/horacio23">Github</a> activity feed up to 6/11/2016</h3>
                    <a href="https://www.github.com/horacio23"><img id="activityImage" src="img/activity.jpg"></img></a>
                </div>
		</div>
	</section>

    <!--about me-->
    <section class="aboutus" id="aboutus">
        <div class="container">
            <div class="row">
                <div class="heading col-lg-6">
                    <div class="row">
                        <h2 class="text-center">About Me</h2>
                        <h3>
                            I was born in Cuba and travelled to the US when I was 15 years old
                            together with my mother. Once here, I continued my studies and ended up getting a Bachelor's Degree in Computer Science. Computers and problem solving have
                            always been a passion of mine, and I was lucky enough to find a medium (programming) in which I could exercise both.
                       </h3>
                        <h3>
                            I am a gamer, a hobby I have spent more time and money in than I care to admit. I prefer MOBAs these days but any entertaining form of gaming will do.
                            From time to time I also like to get away from the computer and exercise another one of my passions, salsa dancing. I find it relaxing and a good way
                            to connect with people, something that does not come as easy as it did when in school.
                        </h3>
                    </div>
                    <div class="row">
                        <section class="contact" id="contact">

                    			<div class="heading ">
                    				<h2 class="text-center">Contact</h2>
                    				<h3>
                                        If you have any questions or want to communicate with me personally please use the contact information bellow and I will respond as soon as i am able
                    				</h3>
                    			</div>



                    			<div class="row">

                    				<div class="contact-info">
                    					<div class="col-md-12  text-center">
                    						<h4>My Contact Info</h4>

                    						<ul>
                    							<li><i class="fa fa-phone fa-2x"></i> +1-786-369-9579</li>
                    							<li><i class="fa fa-envelope fa-2x"></i> horacio.delgado23@gmail.com</li>
                    							<li><i class="fa fa-download fa-2x"></i> <a href="download/resume.pdf" download>Download My Resume</a></li>
                    						</ul>
                    					</div>
                    				</div>
                    			</div>



                    	</section>
                    </div>
                </div>
                <div class="col-lg-6">
                    <!--education-->
                	<section class="feedback" id="feedback">
                		<div class="row">
                			<div class="heading text-center">
                				<h2>Education</h2>
                				<h3>Bellow are the schools I attended for my college career.
                			</div>
                		</div>

                		<div class="row">
                            <div class="col-md-12  wow fadeInRight" data-wow-offset="0" data-wow-delay="0.3s">
                				<div class="text-center">
                					<div class="hi-icon-wrap hi-icon-effect">
                						<h4>ASCOCIATE'S DEGREE</h4>
                						<h5>AUG 2010 - MAY 2012</h5>
                						<i class="fa fa-book"></i>
                						<p>Miami Dade's Honor College</p>
                					</div>
                				</div>
                			</div>
                        </div>
                        <div class="row">
                			<div class="col-md-12 wow fadeInRight" data-wow-offset="0" data-wow-delay="0.3s">
                				<div class="text-center">
                					<div class="hi-icon-wrap hi-icon-effect">
                						<h4>BACHELOR'S DEGREE IN COMPUTER SCIENCE</h4>
                						<h5>AUG 2012 - MAY 2015</h5>
                						<i class="fa fa-graduation-cap" area-hidden="true"></i>
                						<p>University of Florida</p>
                					</div>
                				</div>
                			</div>
                        </div>

                		</div>

                	</section>
                </div>
            </div>
        </div>
    </section>



	<!--footer-->
	<section class="footer" id="footer">
		<p class="text-center">
			<a href="#wrapper" class="gototop"><i class="fa fa-angle-double-up fa-2x"></i></a>
		</p>
		<div class="container">
			<ul>
				<li><a href="https://www.linkedin.com/in/horacio-a-delgado-7ab233101"><i class="fa fa-linkedin"></i></a></li>
				<li><a href="http://www.github.com/horacio23"><i class="fa fa-github"></i></a></li>

			</ul>


		</div>
	</section>

	</div>
    <script src="js/jquery.js"></script>
	<script src="js/modernizr.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.min.js"></script>
	<script src="js/menustick.js"></script>
	<script src="js/parallax.js"></script>
	<script src="js/easing.js"></script>
	<script src="js/wow.js"></script>
	<script src="js/smoothscroll.js"></script>
	<script src="js/masonry.js"></script>
	<script src="js/imgloaded.js"></script>
	<script src="js/classie.js"></script>
	<script src="js/colorfinder.js"></script>
	<script src="js/gridscroll.js"></script>
	<script src="js/contact.js"></script>
	<script src="js/common.js"></script>
    <script src="lib/morris/morris.js"></script>
    <script src="lib/raphael/raphael.min.js"></script>
    <script src="js/customMorris.js"></script>

	<script>
	wow = new WOW(
	 {

		}	)
		.init();
	</script>
	<script type="text/javascript">
jQuery(function($) {
$(document).ready( function() {
  //enabling stickUp on the '.navbar-wrapper' class
	$('.navbar-wrapper').stickUp({
		parts: {
		  0: 'banner',
		  3: 'aboutus',
		  2: 'specialties',
		  1: 'activity',
		  4: 'feedback',
		  5: 'contact'
		},
		itemClass: 'menuItem',
		itemHover: 'active',
		topMargin: 'auto'
	});

});

});


</script>


  </body>
</html>
